{% extends "babybuddy/page.html" %}
{% load babybuddy i18n %}
{% block title %}
    {% trans "Site Settings" %}
{% endblock %}
{% block breadcrumbs %}
    <li class="breadcrumb-item">{% trans "Site" %}</li>
    <li class="breadcrumb-item active">{% trans "Settings" %}</li>
{% endblock %}
{% block content %}
    <h1>{% trans "Site Settings" %}</h1>
    {{ form.media.js }}
    <div class="container-fluid pb-5">
        <form role="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                {% with section=field.name|settings_section %}
                    {% ifchanged section %}
                        {% if section %}<h2 class="h4 mt-4 mb-3">{{ section }}</h2>{% endif %}
                    {% endifchanged %}
                {% endwith %}
                <div class="row">{% include "babybuddy/form_field.html" %}</div>
            {% endfor %}
            <button type="submit" class="submit-primary btn btn-primary btn-lg">{% trans "Submit" %}</button>
        </form>
    </div>
{% endblock %}
